.root{
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9BB0C1;
}

.nav{
  width:15vw;
  height:90vh;
  display:flex;
  background-color: white;
}

.slide{
  width:25vw;
  height:90vh;
  display: flex;
}

