.container{
  width:30vw;
  height:90vh;
  position: relative; // Ensure the Swiper container has a relative position
  display:flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.cardcontainer{
  display:flex;
  width:25vw;
  height: 45vh;
  flex-direction: column;
  position: relative;
}

.card{
  display:flex;
  width:25vw;
  height: 42.5vh;
  position: relative;
  border-radius: 5%;
}

.mosaic {
  filter: blur(8px); // 간단한 모자이크 효과
}

.overlayText {
  position: relative;
  width:25vw;
  height: 42.5vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black; // 텍스트 색상
  // 추가적인 텍스트 스타일링
}
