.container{
  width:30vw;
  height:90vh;
  position: relative; // Ensure the Swiper container has a relative position
  display:flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.cardcontainer{
  display:flex;
  width:25vw;
  height: 45vh;
  flex-direction: column;
  position: relative;
}

.card{
  display:flex;
  width:25vw;
  height: 42.5vh;
  position: relative;
  border-radius: 5%;
}

.mosaic {
  filter: blur(8px); // 간단한 모자이크 효과
}

.textContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* 텍스트가 마우스 이벤트를 무시하도록 설정 */
}

.overlayText {
  position: relative;
  top: 50%;
  left: 50%;
  width:25vw;
  height: 42.5vh;
  transform: translate(-50%, -50%);
  color: white; // 텍스트 색상
  font-size: 3rem;
  // 추가적인 텍스트 스타일링
}